<%- include("partials/header") %>
        <h1>Results Page!!!</h1>
        <p><%= data["Title"] %></p><br>
        <p><%= data["Year"] %></p><br>
        <a href="/">Search Again!</a>
<%- include("partials/footer") %>

