<%- include("partials/header") %>
<div id="tittle">Search For a Movie</div>

<form action="/addresults" method="POST">
    <label for="search"><b>Movie Name:</b></label>
    <input  type="text" placeholder="search term" name="search" required><br>
    <button class=btn >submit</button>
</form>

<%- include("partials/footer") %>
