<%- include("partials/header") %>
<h1>Search For a Movie</h1>

<form action="/addresults" method="POST">
    <input type="text" placeholder="search term" name="search">
    <button>submit</button>
</form>

<%- include("partials/footer") %>
